<h3>Edit Peanut Butter</h3>

<%= render 'shared/error_messages', :target => @peanut_butter %>

<%= form_for [:admin, @peanut_butter] do |f| %>
  <%= render 'fields', :form => f %>
  <p class="action">
    <%= f.submit 'update' %>
    or <%= link_to "cancel", admin_peanut_butters_path %>
  </p>
<% end %>