<h3>Listing Jellies</h3>
<%= link_to "<em>create</em> a new jelly".html_safe, new_jelly_path %>

<% if @jellies.empty? %>
  to start your adventure. 
<% else %>
  or 
  <ul class="items">
    <% @jellies.each do |jelly| %>
      <li>
        <span>
          <%= link_to content_tag(:em, "read"), jelly_path(jelly) %>, 
          <%= link_to content_tag(:em, "update"), edit_jelly_path(jelly) %> or 
          <%= link_to content_tag(:em, "delete"), jelly_path(jelly), :method => :delete, :confirm => "Are you sure?" %>
        </span>
        jelly named <b><%= jelly.name %></b>
      </li>
    <% end %>
  </ul>
  <%= will_paginate @jellies %>
  <br/>
  <p>So much jelly, <strike>so little time</strike> and time to eat it too.</p>
<% end %>

<hr/>

<h3>Search for Jellies?</h3>
<p><em>Yeah, it does that too using <%= link_to "meta_search", "https://github.com/ernie/meta_search" %>.</em></p>

<%= form_for @search, :html => {:method => :get} do |f| %>
  <p>
    <%= f.label :title_contains, 'Title:' %>
    <%= f.text_field :title_contains %>
  </p>
  <p>
    <%= f.label :name_contains, 'Name:' %>
    <%= f.text_field :name_contains %>
  </p>
  <p class="action">
    <%= f.submit 'Search' %>
  </p>
<% end %>
<hr/>
<!--

<h3>And sorting?</h3>
<p><em>Yep, just set it as an option.</p>

<pre>
  # todo
</pre>
-->
