<%= render 'shared/error_messages', :target => @jelly %>

<%= form_for @jelly do |f| %>
  <fieldset>
    <legend>New Jelly</legend>
    <%= render 'fields', :form => f %>
  </fieldset>
  <p class="action">
    <%= f.submit 'create' %>
    or <%= link_to "cancel", jellies_path %>
  </p>
<% end %> 